<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Labs</title>
</head>
<body>
    <a th:href="@{/}">Realabs</a>
    <a th:href="@{/labs}">My labs</a>
    <a th:href="@{/document}">Document</a>
    <a th:href="@{/teacher}">Teacher</a>
    <a th:href="@{/student}">Student</a>
    <a th:href="@{/profile}">Profile</a>
    <th:block th:if="${userInfo} != null">
        <img th:src="${userInfo.getPicture()}" height="40px" width="40px">
    </th:block>
</body>
</html>