<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    <a th:href="@{/}">Realabs</a>
    <a th:href="@{/labs}">My labs</a>
    <a th:href="@{/document}">Document</a>
    <a th:href="@{/teacher}">Teacher</a>
    <a th:href="@{/student}">Student</a>
    <a th:href="@{/profile}">Profile</a>
    <br/>
    <br/>

    <h1>
        Student
        <th:block th:if="${userInfo} != null">
            <img th:src="${userInfo.getPicture()}" height="40px" width="40px">
        </th:block>
    </h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Section</th>
            <th>Code</th>
            <th>Updated at</th>
        </tr>
        <tr th:each="course: ${courses}">
            <td th:text="${course.getName()}"></td>
            <td th:text="${course.getRoom() ?: ''}"></td>
            <td th:text="${course.getSection()} ?: ''"></td>
            <td th:text="${course.getEnrollmentCode()} ?: ''"></td>
            <td th:text="${course.getUpdateTime()}"></td>
        </tr>
    </table>

    <div>
        <a th:href="@{/logout}">
            <button>Logout</button>
        </a>
    </div>

</body>
</html>